@{
    //Displays the common layout for all our views.
    Layout = "~/Views/Shared/_Layout.cshtml";

    //Would set the page to have no layout.
    //Layout = null;
}

@{ 
    //ViewBag object is the view template.
    ViewBag.Title = "Movie List";
}

<h2>My Movie List</h2>

<p>Hello from our View Template!</p>
