@{
    ViewBag.Title = "About";
}

    <body>
        <h1 style="text-align: center;">@ViewBag.Title</h1>

        <p>
            Hi,
            <br />
            My name is Spencer Krug, let me start by saying thank you for taking time out of your day to visit my website. I am 20 years old and live in Massillon Ohio. I am currently attending Stark State College and am pursuing three majors. These majors include Programming/Database, Game Design/Development, and Computer Science/Engineering. I work at GBS Corp, located in Canton Ohio, as a software development/qa intern. I also work at the YMCA Corporate Office, also located in Canton Ohio, as an I.T. Support Specialist. In my free time I tend to try and learn as much as I can about all aspects of software development. I also enjoy working out and working on side projects, such as this website. I mostly specialize in .NET development as I am a fan of Microsoft and love their languages and frameworks. Please feel free to take a look at my resume below and download a copy if you wish. Again, thank you for visiting my website and have a wonderful day.
        </p>

        <div id="resumeDiv">
            <embed src="~/Content/(Resume)SpencerKrug10-02-2019 .pdf" width="816px" height="1150px" />
        </div>
    </body>
