@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <body>
        <h1 style="text-align: center;">@ViewBag.Title</h1>

        <div id="resumeDiv">
            <embed src="~/Content/(Resume)SpencerKrug10-02-2019 .pdf" width="816px" height="1150px" />
        </div>
    </body>
